*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}


.container {
    max-width: 90%;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid black;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}


.timeslot {

    padding:20px;
    font-size: 15px;
    text-align: center;

    background-color: white;
    box-shadow: 0px 0px 0px 1px black;

}

.timeslot:hover {
    opacity:0.9;
    cursor: pointer;
    font-weight: bolder;
}

.timeslot.free {
    background-color: green;
}

.timeslot.reserved {
    background-color: darkred;
}

.timeslot.selected {
    background: repeating-linear-gradient(
            45deg,
            #606dbc,
            #606dbc 10px,
            #465298 10px,
            #465298 20px
    );
}

.reserve-court-form {
    margin-bottom: 40px;
}

.form-control {
    margin: 20px 0;
}

.form-control label {
    display: block;
}

.form-control input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}

.form-control select {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}

.form-control-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-control-check label {
    flex: 1;
}

.form-control-check input {
    flex: 2;
    height: 20px;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.containerTimeslotForm{
    display:flex;
    justify-content: center;

}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

.btn-block {
    display: block;
    width: 100%;
}

.user-message{
    border: 1px solid black;
    border-radius: 5px;
    padding:5px;
    background: lightgreen;
}

/*---------------------*/
.table-container {
    display: block;
    margin: 2em auto;
    width: 90%;
    max-width: 600px;
}
.flex-table {
    display: flex;
    flex-flow: row wrap;
    border-left: solid 1px #d9d9d9;
    transition: 0.5s;
}
.flex-table:first-of-type {
    border-top: solid 1px  #1565C0;
    border-left: solid 1px #1565C0;
}
.flex-table:first-of-type .flex-row {
    background: #1976D2;
    color: white;
    border-color: #1565C0;
}
.flex-table.row:nth-child(odd) .flex-row {
    background: #f4f2f1;
}
.flex-table:hover {
    background: #F5F5F5;
    transition: 500ms;
}
.flex-row {
    width: calc(100% / 4);
    text-align: center;
    padding: 0.5em 0.5em;
    border-right: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
}
.column {
    display: flex;
    flex-flow: column wrap;
    width: 75%;
    padding: 0;
}
.column .flex-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    border: 0;
    border-bottom: solid 1px #d9d9d9;
}
.column .flex-row:hover {
    background: #F5F5F5;
    transition: 500ms;
}
.flex-cell {
    width: calc(100% / 3);
    text-align: center;
    padding: 0.5em 0.5em;
    border-right: solid 1px #d9d9d9;
}
@media (max-width: 767px) {
    .flex-row {
        width: calc(100% / 3);
    }
    .flex-row.first {
        width: 100%;
    }
    .column {
        width: 100%;
    }
}
@media (max-width: 430px) {
    .flex-table .flex-row {
        border-bottom: 0;
    }
    .flex-table .flex-row:last-of-type {
        border-bottom: solid 1px #d9d9d9;
    }
    .header .flex-row {
        border-bottom: solid 1px;
    }
    .flex-row {
        width: 100%;
    }
    .flex-row.first {
        width: 100%;
        border-bottom: solid 1px #d9d9d9;
    }
    .column {
        width: 100%;
    }
    .column .flex-row {
        border-bottom: solid 1px #d9d9d9;
    }
    .flex-cell {
        width: 100%;
    }
}

/*-------------------*/
